
body{
  font-family:"Helvetirial","arial", setif;
  color:#333;
  background-color:#ccc;
  margin:lem 10%;
}
hl{
  color:#333;
  background-color:transparent;
}
a{
  color:#c60;
  background-color:transparent;
  font-weight:bold;
  text-decoration:none;
}
ul{
  padding:0;
}
li{
  float :left;
  padding: 1em;
  list-style:none;
}
img{
  display:block;
  clear:both;
}
#image{list-style:none;}
#image li{ display: inline;}
#image li a img{border:0;}
